/* Changing the font-family of all the elements in the project */
html, body {
  font-family: "Baloo Thambi 2", cursive;
  margin:0;
}

div.chartWrapper {
  position: relative;
  overflow: auto;
  width: 100%;
}

div.chartContainer {
  position: relative;
  height: 300px;
}

#map {
  width: 100vw;
  height: 70vh;
}