/* Changing the font-family of all the elements in the project */
body {
  font-family: "Baloo Thambi 2", cursive;
}

div.chartWrapper {
  position: relative;
  overflow: auto;
  width: 100%;
}

div.chartContainer {
  position: relative;
  height: 300px;
}